<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edita tu usuario</h1>

    <form action="/usuarios/" method="POST">
      <label for="firstname">Nombre</label>
      <input type="text" name="firstname" id="firstname" value="<%= user.firstname %>" />
      <label for="lastname">Apellido</label>
      <input type="text" name="lastname" id="lastname" value="<%= user.lastname %>" />
      <label for="username">Nombre de Usuario</label>
      <input type="text" name="username" id="username" value="<%= user.username %>" />
      <label for="email">Email</label>
      <input type="text" name="email" id="email" value="<%= user.email %>" />
      <label for="password">Contraseña</label>
      <input type="text" name="password" id="password" value="<%= user.password %>" />
      <button type="submit">Crear</button>
    </form>
  </body>
</html>
